<!DOCTYPE html>
<head><link rel="stylesheet" href="./css/styles.css"></head>
<title>About Page</title>

<body>
    <div id="about">{{>header}}
    <h1>ABOUT PAGE</h1></div>
    <p>This weather app fetches the data using MapBox API</p>
    
     
    <script src="../js/app.js"></script>
    <span>{{>footer}}</span>
    
</body>
</html>