<!DOCTYPE html>
<head><link rel="stylesheet" href="./css/styles.css">
</head>
<title>Help Page</title>

<body>
     <div id="help">{{>header}}
    <h1>HELP!</h1></div>
    
    <script src="../js/app.js"></script>
    <span>{{>footer}}</span>
</body>
</html>